.app_style {
    min-height: calc(100vh - 80px);
    font-size:14px;

    position: relative;
    opacity: 1;/* здесь 1 определяет уровень прозрачности для вложенных элементов */
 
}



.app_style::before {
    content: "";
    background-image: url('back_recipes.jpg');
    background-size: cover; /* растяжка по содержимому */
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}